:root {
  --text-extra-small-leading-normal-regular-font-family: "Inter", Helvetica;
  --text-extra-small-leading-normal-regular-font-weight: 400;
  --text-extra-small-leading-normal-regular-font-size: 12px;
  --text-extra-small-leading-normal-regular-letter-spacing: 0px;
  --text-extra-small-leading-normal-regular-line-height: 16px;
  --text-extra-small-leading-normal-regular-font-style: normal;
  --text-extra-small-leading-normal-medium-font-family: "Inter", Helvetica;
  --text-extra-small-leading-normal-medium-font-weight: 500;
  --text-extra-small-leading-normal-medium-font-size: 12px;
  --text-extra-small-leading-normal-medium-letter-spacing: 0px;
  --text-extra-small-leading-normal-medium-line-height: 16px;
  --text-extra-small-leading-normal-medium-font-style: normal;
  --text-extra-small-leading-normal-semibold-font-family: "Inter", Helvetica;
  --text-extra-small-leading-normal-semibold-font-weight: 600;
  --text-extra-small-leading-normal-semibold-font-size: 12px;
  --text-extra-small-leading-normal-semibold-letter-spacing: 0px;
  --text-extra-small-leading-normal-semibold-line-height: 16px;
  --text-extra-small-leading-normal-semibold-font-style: normal;
  --text-extra-small-leading-normal-bold-font-family: "Inter", Helvetica;
  --text-extra-small-leading-normal-bold-font-weight: 700;
  --text-extra-small-leading-normal-bold-font-size: 12px;
  --text-extra-small-leading-normal-bold-letter-spacing: 0px;
  --text-extra-small-leading-normal-bold-line-height: 16px;
  --text-extra-small-leading-normal-bold-font-style: normal;
  --text-extra-small-leading-normal-italic-font-family: "Inter", Helvetica;
  --text-extra-small-leading-normal-italic-font-weight: 400;
  --text-extra-small-leading-normal-italic-font-size: 12px;
  --text-extra-small-leading-normal-italic-letter-spacing: 0px;
  --text-extra-small-leading-normal-italic-line-height: 16px;
  --text-extra-small-leading-normal-italic-font-style: italic;
  --text-extra-small-leading-normal-underlined-font-family: "Inter", Helvetica;
  --text-extra-small-leading-normal-underlined-font-weight: 400;
  --text-extra-small-leading-normal-underlined-font-size: 12px;
  --text-extra-small-leading-normal-underlined-letter-spacing: 0px;
  --text-extra-small-leading-normal-underlined-line-height: 16px;
  --text-extra-small-leading-normal-underlined-font-style: normal;
  --text-extra-small-leading-normal-strikethrough-font-family: "Inter", Helvetica;
  --text-extra-small-leading-normal-strikethrough-font-weight: 400;
  --text-extra-small-leading-normal-strikethrough-font-size: 12px;
  --text-extra-small-leading-normal-strikethrough-letter-spacing: 0px;
  --text-extra-small-leading-normal-strikethrough-line-height: 16px;
  --text-extra-small-leading-normal-strikethrough-font-style: normal;
  --text-extra-small-leading-none-regular-font-family: "Inter", Helvetica;
  --text-extra-small-leading-none-regular-font-weight: 400;
  --text-extra-small-leading-none-regular-font-size: 12px;
  --text-extra-small-leading-none-regular-letter-spacing: 0px;
  --text-extra-small-leading-none-regular-line-height: 100%;
  --text-extra-small-leading-none-regular-font-style: normal;
  --text-extra-small-leading-none-medium-font-family: "Inter", Helvetica;
  --text-extra-small-leading-none-medium-font-weight: 500;
  --text-extra-small-leading-none-medium-font-size: 12px;
  --text-extra-small-leading-none-medium-letter-spacing: 0px;
  --text-extra-small-leading-none-medium-line-height: 100%;
  --text-extra-small-leading-none-medium-font-style: normal;
  --text-extra-small-leading-none-semibold-font-family: "Inter", Helvetica;
  --text-extra-small-leading-none-semibold-font-weight: 600;
  --text-extra-small-leading-none-semibold-font-size: 12px;
  --text-extra-small-leading-none-semibold-letter-spacing: 0px;
  --text-extra-small-leading-none-semibold-line-height: 100%;
  --text-extra-small-leading-none-semibold-font-style: normal;
  --text-extra-small-leading-none-bold-font-family: "Inter", Helvetica;
  --text-extra-small-leading-none-bold-font-weight: 700;
  --text-extra-small-leading-none-bold-font-size: 12px;
  --text-extra-small-leading-none-bold-letter-spacing: 0px;
  --text-extra-small-leading-none-bold-line-height: 100%;
  --text-extra-small-leading-none-bold-font-style: normal;
  --text-extra-small-leading-none-italic-font-family: "Inter", Helvetica;
  --text-extra-small-leading-none-italic-font-weight: 400;
  --text-extra-small-leading-none-italic-font-size: 12px;
  --text-extra-small-leading-none-italic-letter-spacing: 0px;
  --text-extra-small-leading-none-italic-line-height: 100%;
  --text-extra-small-leading-none-italic-font-style: italic;
  --text-extra-small-leading-none-underlined-font-family: "Inter", Helvetica;
  --text-extra-small-leading-none-underlined-font-weight: 400;
  --text-extra-small-leading-none-underlined-font-size: 12px;
  --text-extra-small-leading-none-underlined-letter-spacing: 0px;
  --text-extra-small-leading-none-underlined-line-height: 100%;
  --text-extra-small-leading-none-underlined-font-style: normal;
  --text-extra-small-leading-none-strikethrough-font-family: "Inter", Helvetica;
  --text-extra-small-leading-none-strikethrough-font-weight: 400;
  --text-extra-small-leading-none-strikethrough-font-size: 12px;
  --text-extra-small-leading-none-strikethrough-letter-spacing: 0px;
  --text-extra-small-leading-none-strikethrough-line-height: 100%;
  --text-extra-small-leading-none-strikethrough-font-style: normal;
  --text-small-leading-normal-regular-font-family: "Inter", Helvetica;
  --text-small-leading-normal-regular-font-weight: 400;
  --text-small-leading-normal-regular-font-size: 14px;
  --text-small-leading-normal-regular-letter-spacing: 0px;
  --text-small-leading-normal-regular-line-height: 20px;
  --text-small-leading-normal-regular-font-style: normal;
  --text-small-leading-normal-medium-font-family: "Inter", Helvetica;
  --text-small-leading-normal-medium-font-weight: 500;
  --text-small-leading-normal-medium-font-size: 14px;
  --text-small-leading-normal-medium-letter-spacing: 0px;
  --text-small-leading-normal-medium-line-height: 20px;
  --text-small-leading-normal-medium-font-style: normal;
  --text-small-leading-normal-semibold-font-family: "Inter", Helvetica;
  --text-small-leading-normal-semibold-font-weight: 600;
  --text-small-leading-normal-semibold-font-size: 14px;
  --text-small-leading-normal-semibold-letter-spacing: 0px;
  --text-small-leading-normal-semibold-line-height: 20px;
  --text-small-leading-normal-semibold-font-style: normal;
  --text-small-leading-normal-bold-font-family: "Inter", Helvetica;
  --text-small-leading-normal-bold-font-weight: 700;
  --text-small-leading-normal-bold-font-size: 14px;
  --text-small-leading-normal-bold-letter-spacing: 0px;
  --text-small-leading-normal-bold-line-height: 20px;
  --text-small-leading-normal-bold-font-style: normal;
  --text-small-leading-normal-italic-font-family: "Inter", Helvetica;
  --text-small-leading-normal-italic-font-weight: 400;
  --text-small-leading-normal-italic-font-size: 14px;
  --text-small-leading-normal-italic-letter-spacing: 0px;
  --text-small-leading-normal-italic-line-height: 20px;
  --text-small-leading-normal-italic-font-style: italic;
  --text-small-leading-normal-underlined-font-family: "Inter", Helvetica;
  --text-small-leading-normal-underlined-font-weight: 400;
  --text-small-leading-normal-underlined-font-size: 14px;
  --text-small-leading-normal-underlined-letter-spacing: 0px;
  --text-small-leading-normal-underlined-line-height: 20px;
  --text-small-leading-normal-underlined-font-style: normal;
  --text-small-leading-normal-strikethrough-font-family: "Inter", Helvetica;
  --text-small-leading-normal-strikethrough-font-weight: 400;
  --text-small-leading-normal-strikethrough-font-size: 14px;
  --text-small-leading-normal-strikethrough-letter-spacing: 0px;
  --text-small-leading-normal-strikethrough-line-height: 20px;
  --text-small-leading-normal-strikethrough-font-style: normal;
  --text-small-leading-normal-underlined-medium-font-family: "Inter", Helvetica;
  --text-small-leading-normal-underlined-medium-font-weight: 500;
  --text-small-leading-normal-underlined-medium-font-size: 14px;
  --text-small-leading-normal-underlined-medium-letter-spacing: 0px;
  --text-small-leading-normal-underlined-medium-line-height: 20px;
  --text-small-leading-normal-underlined-medium-font-style: normal;
  --text-small-leading-none-regular-font-family: "Inter", Helvetica;
  --text-small-leading-none-regular-font-weight: 400;
  --text-small-leading-none-regular-font-size: 14px;
  --text-small-leading-none-regular-letter-spacing: 0px;
  --text-small-leading-none-regular-line-height: 100%;
  --text-small-leading-none-regular-font-style: normal;
  --text-small-leading-none-medium-font-family: "Inter", Helvetica;
  --text-small-leading-none-medium-font-weight: 500;
  --text-small-leading-none-medium-font-size: 14px;
  --text-small-leading-none-medium-letter-spacing: 0px;
  --text-small-leading-none-medium-line-height: 100%;
  --text-small-leading-none-medium-font-style: normal;
  --text-small-leading-none-semibold-font-family: "Inter", Helvetica;
  --text-small-leading-none-semibold-font-weight: 600;
  --text-small-leading-none-semibold-font-size: 14px;
  --text-small-leading-none-semibold-letter-spacing: 0px;
  --text-small-leading-none-semibold-line-height: 100%;
  --text-small-leading-none-semibold-font-style: normal;
  --text-small-leading-none-bold-font-family: "Inter", Helvetica;
  --text-small-leading-none-bold-font-weight: 700;
  --text-small-leading-none-bold-font-size: 14px;
  --text-small-leading-none-bold-letter-spacing: 0px;
  --text-small-leading-none-bold-line-height: 100%;
  --text-small-leading-none-bold-font-style: normal;
  --text-small-leading-none-italic-font-family: "Inter", Helvetica;
  --text-small-leading-none-italic-font-weight: 400;
  --text-small-leading-none-italic-font-size: 14px;
  --text-small-leading-none-italic-letter-spacing: 0px;
  --text-small-leading-none-italic-line-height: 100%;
  --text-small-leading-none-italic-font-style: italic;
  --text-small-leading-none-underlined-font-family: "Inter", Helvetica;
  --text-small-leading-none-underlined-font-weight: 400;
  --text-small-leading-none-underlined-font-size: 14px;
  --text-small-leading-none-underlined-letter-spacing: 0px;
  --text-small-leading-none-underlined-line-height: 100%;
  --text-small-leading-none-underlined-font-style: normal;
  --text-small-leading-none-strikethrough-font-family: "Inter", Helvetica;
  --text-small-leading-none-strikethrough-font-weight: 400;
  --text-small-leading-none-strikethrough-font-size: 14px;
  --text-small-leading-none-strikethrough-letter-spacing: 0px;
  --text-small-leading-none-strikethrough-line-height: 100%;
  --text-small-leading-none-strikethrough-font-style: normal;
  --text-base-leading-normal-regular-font-family: "Inter", Helvetica;
  --text-base-leading-normal-regular-font-weight: 400;
  --text-base-leading-normal-regular-font-size: 16px;
  --text-base-leading-normal-regular-letter-spacing: 0px;
  --text-base-leading-normal-regular-line-height: 24px;
  --text-base-leading-normal-regular-font-style: normal;
  --text-base-leading-normal-medium-font-family: "Inter", Helvetica;
  --text-base-leading-normal-medium-font-weight: 500;
  --text-base-leading-normal-medium-font-size: 16px;
  --text-base-leading-normal-medium-letter-spacing: 0px;
  --text-base-leading-normal-medium-line-height: 24px;
  --text-base-leading-normal-medium-font-style: normal;
  --text-base-leading-normal-semibold-font-family: "Inter", Helvetica;
  --text-base-leading-normal-semibold-font-weight: 600;
  --text-base-leading-normal-semibold-font-size: 16px;
  --text-base-leading-normal-semibold-letter-spacing: 0px;
  --text-base-leading-normal-semibold-line-height: 24px;
  --text-base-leading-normal-semibold-font-style: normal;
  --text-base-leading-normal-bold-font-family: "Inter", Helvetica;
  --text-base-leading-normal-bold-font-weight: 700;
  --text-base-leading-normal-bold-font-size: 16px;
  --text-base-leading-normal-bold-letter-spacing: 0px;
  --text-base-leading-normal-bold-line-height: 24px;
  --text-base-leading-normal-bold-font-style: normal;
  --text-base-leading-normal-italic-font-family: "Inter", Helvetica;
  --text-base-leading-normal-italic-font-weight: 400;
  --text-base-leading-normal-italic-font-size: 16px;
  --text-base-leading-normal-italic-letter-spacing: 0px;
  --text-base-leading-normal-italic-line-height: 24px;
  --text-base-leading-normal-italic-font-style: italic;
  --text-base-leading-normal-underlined-font-family: "Inter", Helvetica;
  --text-base-leading-normal-underlined-font-weight: 400;
  --text-base-leading-normal-underlined-font-size: 16px;
  --text-base-leading-normal-underlined-letter-spacing: 0px;
  --text-base-leading-normal-underlined-line-height: 24px;
  --text-base-leading-normal-underlined-font-style: normal;
  --text-base-leading-normal-strikethrough-font-family: "Inter", Helvetica;
  --text-base-leading-normal-strikethrough-font-weight: 400;
  --text-base-leading-normal-strikethrough-font-size: 16px;
  --text-base-leading-normal-strikethrough-letter-spacing: 0px;
  --text-base-leading-normal-strikethrough-line-height: 24px;
  --text-base-leading-normal-strikethrough-font-style: normal;
  --text-base-leading-normal-underlined-medium-font-family: "Inter", Helvetica;
  --text-base-leading-normal-underlined-medium-font-weight: 500;
  --text-base-leading-normal-underlined-medium-font-size: 16px;
  --text-base-leading-normal-underlined-medium-letter-spacing: 0px;
  --text-base-leading-normal-underlined-medium-line-height: 24px;
  --text-base-leading-normal-underlined-medium-font-style: normal;
  --text-base-leading-none-regular-font-family: "Inter", Helvetica;
  --text-base-leading-none-regular-font-weight: 400;
  --text-base-leading-none-regular-font-size: 16px;
  --text-base-leading-none-regular-letter-spacing: 0px;
  --text-base-leading-none-regular-line-height: 100%;
  --text-base-leading-none-regular-font-style: normal;
  --text-base-leading-none-medium-font-family: "Inter", Helvetica;
  --text-base-leading-none-medium-font-weight: 500;
  --text-base-leading-none-medium-font-size: 16px;
  --text-base-leading-none-medium-letter-spacing: 0px;
  --text-base-leading-none-medium-line-height: 100%;
  --text-base-leading-none-medium-font-style: normal;
  --text-base-leading-none-semibold-font-family: "Inter", Helvetica;
  --text-base-leading-none-semibold-font-weight: 600;
  --text-base-leading-none-semibold-font-size: 16px;
  --text-base-leading-none-semibold-letter-spacing: 0px;
  --text-base-leading-none-semibold-line-height: 100%;
  --text-base-leading-none-semibold-font-style: normal;
  --text-base-leading-none-bold-font-family: "Inter", Helvetica;
  --text-base-leading-none-bold-font-weight: 700;
  --text-base-leading-none-bold-font-size: 16px;
  --text-base-leading-none-bold-letter-spacing: 0px;
  --text-base-leading-none-bold-line-height: 100%;
  --text-base-leading-none-bold-font-style: normal;
  --text-base-leading-none-italic-font-family: "Inter", Helvetica;
  --text-base-leading-none-italic-font-weight: 400;
  --text-base-leading-none-italic-font-size: 16px;
  --text-base-leading-none-italic-letter-spacing: 0px;
  --text-base-leading-none-italic-line-height: 100%;
  --text-base-leading-none-italic-font-style: italic;
  --text-base-leading-none-underlined-font-family: "Inter", Helvetica;
  --text-base-leading-none-underlined-font-weight: 400;
  --text-base-leading-none-underlined-font-size: 16px;
  --text-base-leading-none-underlined-letter-spacing: 0px;
  --text-base-leading-none-underlined-line-height: 100%;
  --text-base-leading-none-underlined-font-style: normal;
  --text-base-leading-none-strikethrough-font-family: "Inter", Helvetica;
  --text-base-leading-none-strikethrough-font-weight: 400;
  --text-base-leading-none-strikethrough-font-size: 16px;
  --text-base-leading-none-strikethrough-letter-spacing: 0px;
  --text-base-leading-none-strikethrough-line-height: 100%;
  --text-base-leading-none-strikethrough-font-style: normal;
  --text-large-leading-normal-regular-font-family: "Inter", Helvetica;
  --text-large-leading-normal-regular-font-weight: 400;
  --text-large-leading-normal-regular-font-size: 18px;
  --text-large-leading-normal-regular-letter-spacing: 0px;
  --text-large-leading-normal-regular-line-height: 28px;
  --text-large-leading-normal-regular-font-style: normal;
  --text-large-leading-normal-medium-font-family: "Inter", Helvetica;
  --text-large-leading-normal-medium-font-weight: 500;
  --text-large-leading-normal-medium-font-size: 18px;
  --text-large-leading-normal-medium-letter-spacing: 0px;
  --text-large-leading-normal-medium-line-height: 28px;
  --text-large-leading-normal-medium-font-style: normal;
  --text-large-leading-normal-semibold-font-family: "Inter", Helvetica;
  --text-large-leading-normal-semibold-font-weight: 600;
  --text-large-leading-normal-semibold-font-size: 18px;
  --text-large-leading-normal-semibold-letter-spacing: 0px;
  --text-large-leading-normal-semibold-line-height: 28px;
  --text-large-leading-normal-semibold-font-style: normal;
  --text-large-leading-normal-bold-font-family: "Inter", Helvetica;
  --text-large-leading-normal-bold-font-weight: 700;
  --text-large-leading-normal-bold-font-size: 18px;
  --text-large-leading-normal-bold-letter-spacing: 0px;
  --text-large-leading-normal-bold-line-height: 28px;
  --text-large-leading-normal-bold-font-style: normal;
  --text-large-leading-normal-italic-font-family: "Inter", Helvetica;
  --text-large-leading-normal-italic-font-weight: 400;
  --text-large-leading-normal-italic-font-size: 18px;
  --text-large-leading-normal-italic-letter-spacing: 0px;
  --text-large-leading-normal-italic-line-height: 28px;
  --text-large-leading-normal-italic-font-style: italic;
  --text-large-leading-normal-underlined-font-family: "Inter", Helvetica;
  --text-large-leading-normal-underlined-font-weight: 400;
  --text-large-leading-normal-underlined-font-size: 18px;
  --text-large-leading-normal-underlined-letter-spacing: 0px;
  --text-large-leading-normal-underlined-line-height: 28px;
  --text-large-leading-normal-underlined-font-style: normal;
  --text-large-leading-normal-strikethrough-font-family: "Inter", Helvetica;
  --text-large-leading-normal-strikethrough-font-weight: 400;
  --text-large-leading-normal-strikethrough-font-size: 18px;
  --text-large-leading-normal-strikethrough-letter-spacing: 0px;
  --text-large-leading-normal-strikethrough-line-height: 28px;
  --text-large-leading-normal-strikethrough-font-style: normal;
  --text-large-leading-none-regular-font-family: "Inter", Helvetica;
  --text-large-leading-none-regular-font-weight: 400;
  --text-large-leading-none-regular-font-size: 18px;
  --text-large-leading-none-regular-letter-spacing: 0px;
  --text-large-leading-none-regular-line-height: 100%;
  --text-large-leading-none-regular-font-style: normal;
  --text-large-leading-none-medium-font-family: "Inter", Helvetica;
  --text-large-leading-none-medium-font-weight: 500;
  --text-large-leading-none-medium-font-size: 18px;
  --text-large-leading-none-medium-letter-spacing: 0px;
  --text-large-leading-none-medium-line-height: 100%;
  --text-large-leading-none-medium-font-style: normal;
  --text-large-leading-none-semibold-font-family: "Inter", Helvetica;
  --text-large-leading-none-semibold-font-weight: 600;
  --text-large-leading-none-semibold-font-size: 18px;
  --text-large-leading-none-semibold-letter-spacing: 0px;
  --text-large-leading-none-semibold-line-height: 100%;
  --text-large-leading-none-semibold-font-style: normal;
  --text-large-leading-none-bold-font-family: "Inter", Helvetica;
  --text-large-leading-none-bold-font-weight: 700;
  --text-large-leading-none-bold-font-size: 18px;
  --text-large-leading-none-bold-letter-spacing: 0px;
  --text-large-leading-none-bold-line-height: 100%;
  --text-large-leading-none-bold-font-style: normal;
  --text-large-leading-none-italic-font-family: "Inter", Helvetica;
  --text-large-leading-none-italic-font-weight: 400;
  --text-large-leading-none-italic-font-size: 18px;
  --text-large-leading-none-italic-letter-spacing: 0px;
  --text-large-leading-none-italic-line-height: 100%;
  --text-large-leading-none-italic-font-style: italic;
  --text-large-leading-none-underlined-font-family: "Inter", Helvetica;
  --text-large-leading-none-underlined-font-weight: 400;
  --text-large-leading-none-underlined-font-size: 18px;
  --text-large-leading-none-underlined-letter-spacing: 0px;
  --text-large-leading-none-underlined-line-height: 100%;
  --text-large-leading-none-underlined-font-style: normal;
  --text-large-leading-none-strikethrough-font-family: "Inter", Helvetica;
  --text-large-leading-none-strikethrough-font-weight: 400;
  --text-large-leading-none-strikethrough-font-size: 18px;
  --text-large-leading-none-strikethrough-letter-spacing: 0px;
  --text-large-leading-none-strikethrough-line-height: 100%;
  --text-large-leading-none-strikethrough-font-style: normal;
  --text-extra-large-leading-normal-regular-font-family: "Inter", Helvetica;
  --text-extra-large-leading-normal-regular-font-weight: 400;
  --text-extra-large-leading-normal-regular-font-size: 20px;
  --text-extra-large-leading-normal-regular-letter-spacing: 0px;
  --text-extra-large-leading-normal-regular-line-height: 28px;
  --text-extra-large-leading-normal-regular-font-style: normal;
  --text-extra-large-leading-normal-medium-font-family: "Inter", Helvetica;
  --text-extra-large-leading-normal-medium-font-weight: 500;
  --text-extra-large-leading-normal-medium-font-size: 20px;
  --text-extra-large-leading-normal-medium-letter-spacing: 0px;
  --text-extra-large-leading-normal-medium-line-height: 28px;
  --text-extra-large-leading-normal-medium-font-style: normal;
  --text-extra-large-leading-normal-semibold-font-family: "Inter", Helvetica;
  --text-extra-large-leading-normal-semibold-font-weight: 600;
  --text-extra-large-leading-normal-semibold-font-size: 20px;
  --text-extra-large-leading-normal-semibold-letter-spacing: 0px;
  --text-extra-large-leading-normal-semibold-line-height: 28px;
  --text-extra-large-leading-normal-semibold-font-style: normal;
  --text-extra-large-leading-normal-bold-font-family: "Inter", Helvetica;
  --text-extra-large-leading-normal-bold-font-weight: 700;
  --text-extra-large-leading-normal-bold-font-size: 20px;
  --text-extra-large-leading-normal-bold-letter-spacing: 0px;
  --text-extra-large-leading-normal-bold-line-height: 28px;
  --text-extra-large-leading-normal-bold-font-style: normal;
  --text-extra-large-leading-normal-italic-font-family: "Inter", Helvetica;
  --text-extra-large-leading-normal-italic-font-weight: 400;
  --text-extra-large-leading-normal-italic-font-size: 20px;
  --text-extra-large-leading-normal-italic-letter-spacing: 0px;
  --text-extra-large-leading-normal-italic-line-height: 28px;
  --text-extra-large-leading-normal-italic-font-style: italic;
  --text-extra-large-leading-normal-underlined-font-family: "Inter", Helvetica;
  --text-extra-large-leading-normal-underlined-font-weight: 400;
  --text-extra-large-leading-normal-underlined-font-size: 20px;
  --text-extra-large-leading-normal-underlined-letter-spacing: 0px;
  --text-extra-large-leading-normal-underlined-line-height: 28px;
  --text-extra-large-leading-normal-underlined-font-style: normal;
  --text-extra-large-leading-normal-strikethrough-font-family: "Inter", Helvetica;
  --text-extra-large-leading-normal-strikethrough-font-weight: 400;
  --text-extra-large-leading-normal-strikethrough-font-size: 20px;
  --text-extra-large-leading-normal-strikethrough-letter-spacing: 0px;
  --text-extra-large-leading-normal-strikethrough-line-height: 28px;
  --text-extra-large-leading-normal-strikethrough-font-style: normal;
  --text-extra-large-leading-none-regular-font-family: "Inter", Helvetica;
  --text-extra-large-leading-none-regular-font-weight: 400;
  --text-extra-large-leading-none-regular-font-size: 20px;
  --text-extra-large-leading-none-regular-letter-spacing: 0px;
  --text-extra-large-leading-none-regular-line-height: 100%;
  --text-extra-large-leading-none-regular-font-style: normal;
  --text-extra-large-leading-none-medium-font-family: "Inter", Helvetica;
  --text-extra-large-leading-none-medium-font-weight: 500;
  --text-extra-large-leading-none-medium-font-size: 20px;
  --text-extra-large-leading-none-medium-letter-spacing: 0px;
  --text-extra-large-leading-none-medium-line-height: 100%;
  --text-extra-large-leading-none-medium-font-style: normal;
  --text-extra-large-leading-none-semibold-font-family: "Inter", Helvetica;
  --text-extra-large-leading-none-semibold-font-weight: 600;
  --text-extra-large-leading-none-semibold-font-size: 20px;
  --text-extra-large-leading-none-semibold-letter-spacing: 0px;
  --text-extra-large-leading-none-semibold-line-height: 100%;
  --text-extra-large-leading-none-semibold-font-style: normal;
  --text-extra-large-leading-none-bold-font-family: "Inter", Helvetica;
  --text-extra-large-leading-none-bold-font-weight: 700;
  --text-extra-large-leading-none-bold-font-size: 20px;
  --text-extra-large-leading-none-bold-letter-spacing: 0px;
  --text-extra-large-leading-none-bold-line-height: 100%;
  --text-extra-large-leading-none-bold-font-style: normal;
  --text-extra-large-leading-none-italic-font-family: "Inter", Helvetica;
  --text-extra-large-leading-none-italic-font-weight: 400;
  --text-extra-large-leading-none-italic-font-size: 20px;
  --text-extra-large-leading-none-italic-letter-spacing: 0px;
  --text-extra-large-leading-none-italic-line-height: 100%;
  --text-extra-large-leading-none-italic-font-style: italic;
  --text-extra-large-leading-none-strikethrough-font-family: "Inter", Helvetica;
  --text-extra-large-leading-none-strikethrough-font-weight: 400;
  --text-extra-large-leading-none-strikethrough-font-size: 20px;
  --text-extra-large-leading-none-strikethrough-letter-spacing: 0px;
  --text-extra-large-leading-none-strikethrough-line-height: 100%;
  --text-extra-large-leading-none-strikethrough-font-style: normal;
  --text-extra-large-leading-none-underlined-font-family: "Inter", Helvetica;
  --text-extra-large-leading-none-underlined-font-weight: 400;
  --text-extra-large-leading-none-underlined-font-size: 20px;
  --text-extra-large-leading-none-underlined-letter-spacing: 0px;
  --text-extra-large-leading-none-underlined-line-height: 100%;
  --text-extra-large-leading-none-underlined-font-style: normal;
  --text-2x-large-leading-normal-regular-font-family: "Inter", Helvetica;
  --text-2x-large-leading-normal-regular-font-weight: 400;
  --text-2x-large-leading-normal-regular-font-size: 24px;
  --text-2x-large-leading-normal-regular-letter-spacing: 0px;
  --text-2x-large-leading-normal-regular-line-height: 32px;
  --text-2x-large-leading-normal-regular-font-style: normal;
  --text-2x-large-leading-normal-medium-font-family: "Inter", Helvetica;
  --text-2x-large-leading-normal-medium-font-weight: 500;
  --text-2x-large-leading-normal-medium-font-size: 24px;
  --text-2x-large-leading-normal-medium-letter-spacing: 0px;
  --text-2x-large-leading-normal-medium-line-height: 32px;
  --text-2x-large-leading-normal-medium-font-style: normal;
  --text-2x-large-leading-normal-semibold-font-family: "Inter", Helvetica;
  --text-2x-large-leading-normal-semibold-font-weight: 600;
  --text-2x-large-leading-normal-semibold-font-size: 24px;
  --text-2x-large-leading-normal-semibold-letter-spacing: 0px;
  --text-2x-large-leading-normal-semibold-line-height: 32px;
  --text-2x-large-leading-normal-semibold-font-style: normal;
  --text-2x-large-leading-normal-bold-font-family: "Inter", Helvetica;
  --text-2x-large-leading-normal-bold-font-weight: 700;
  --text-2x-large-leading-normal-bold-font-size: 24px;
  --text-2x-large-leading-normal-bold-letter-spacing: 0px;
  --text-2x-large-leading-normal-bold-line-height: 32px;
  --text-2x-large-leading-normal-bold-font-style: normal;
  --text-2x-large-leading-normal-italic-font-family: "Inter", Helvetica;
  --text-2x-large-leading-normal-italic-font-weight: 400;
  --text-2x-large-leading-normal-italic-font-size: 24px;
  --text-2x-large-leading-normal-italic-letter-spacing: 0px;
  --text-2x-large-leading-normal-italic-line-height: 32px;
  --text-2x-large-leading-normal-italic-font-style: italic;
  --text-2x-large-leading-normal-underlined-font-family: "Inter", Helvetica;
  --text-2x-large-leading-normal-underlined-font-weight: 400;
  --text-2x-large-leading-normal-underlined-font-size: 24px;
  --text-2x-large-leading-normal-underlined-letter-spacing: 0px;
  --text-2x-large-leading-normal-underlined-line-height: 32px;
  --text-2x-large-leading-normal-underlined-font-style: normal;
  --text-2x-large-leading-normal-strikethrough-font-family: "Inter", Helvetica;
  --text-2x-large-leading-normal-strikethrough-font-weight: 400;
  --text-2x-large-leading-normal-strikethrough-font-size: 24px;
  --text-2x-large-leading-normal-strikethrough-letter-spacing: 0px;
  --text-2x-large-leading-normal-strikethrough-line-height: 32px;
  --text-2x-large-leading-normal-strikethrough-font-style: normal;
  --text-2x-large-leading-none-regular-font-family: "Inter", Helvetica;
  --text-2x-large-leading-none-regular-font-weight: 400;
  --text-2x-large-leading-none-regular-font-size: 24px;
  --text-2x-large-leading-none-regular-letter-spacing: 0px;
  --text-2x-large-leading-none-regular-line-height: 100%;
  --text-2x-large-leading-none-regular-font-style: normal;
  --text-2x-large-leading-none-medium-font-family: "Inter", Helvetica;
  --text-2x-large-leading-none-medium-font-weight: 500;
  --text-2x-large-leading-none-medium-font-size: 24px;
  --text-2x-large-leading-none-medium-letter-spacing: 0px;
  --text-2x-large-leading-none-medium-line-height: 100%;
  --text-2x-large-leading-none-medium-font-style: normal;
  --text-2x-large-leading-none-semibold-font-family: "Inter", Helvetica;
  --text-2x-large-leading-none-semibold-font-weight: 600;
  --text-2x-large-leading-none-semibold-font-size: 24px;
  --text-2x-large-leading-none-semibold-letter-spacing: 0px;
  --text-2x-large-leading-none-semibold-line-height: 100%;
  --text-2x-large-leading-none-semibold-font-style: normal;
  --text-2x-large-leading-none-bold-font-family: "Inter", Helvetica;
  --text-2x-large-leading-none-bold-font-weight: 700;
  --text-2x-large-leading-none-bold-font-size: 24px;
  --text-2x-large-leading-none-bold-letter-spacing: 0px;
  --text-2x-large-leading-none-bold-line-height: 100%;
  --text-2x-large-leading-none-bold-font-style: normal;
  --text-2x-large-leading-none-italic-font-family: "Inter", Helvetica;
  --text-2x-large-leading-none-italic-font-weight: 400;
  --text-2x-large-leading-none-italic-font-size: 24px;
  --text-2x-large-leading-none-italic-letter-spacing: 0px;
  --text-2x-large-leading-none-italic-line-height: 100%;
  --text-2x-large-leading-none-italic-font-style: italic;
  --text-2x-large-leading-none-underlined-font-family: "Inter", Helvetica;
  --text-2x-large-leading-none-underlined-font-weight: 400;
  --text-2x-large-leading-none-underlined-font-size: 24px;
  --text-2x-large-leading-none-underlined-letter-spacing: 0px;
  --text-2x-large-leading-none-underlined-line-height: 100%;
  --text-2x-large-leading-none-underlined-font-style: normal;
  --text-2x-large-leading-none-strikethrough-font-family: "Inter", Helvetica;
  --text-2x-large-leading-none-strikethrough-font-weight: 400;
  --text-2x-large-leading-none-strikethrough-font-size: 24px;
  --text-2x-large-leading-none-strikethrough-letter-spacing: 0px;
  --text-2x-large-leading-none-strikethrough-line-height: 100%;
  --text-2x-large-leading-none-strikethrough-font-style: normal;
  --text-3x-large-leading-normal-regular-font-family: "Inter", Helvetica;
  --text-3x-large-leading-normal-regular-font-weight: 400;
  --text-3x-large-leading-normal-regular-font-size: 30px;
  --text-3x-large-leading-normal-regular-letter-spacing: 0px;
  --text-3x-large-leading-normal-regular-line-height: 36px;
  --text-3x-large-leading-normal-regular-font-style: normal;
  --text-3x-large-leading-normal-medium-font-family: "Inter", Helvetica;
  --text-3x-large-leading-normal-medium-font-weight: 500;
  --text-3x-large-leading-normal-medium-font-size: 30px;
  --text-3x-large-leading-normal-medium-letter-spacing: 0px;
  --text-3x-large-leading-normal-medium-line-height: 36px;
  --text-3x-large-leading-normal-medium-font-style: normal;
  --text-3x-large-leading-normal-semibold-font-family: "Inter", Helvetica;
  --text-3x-large-leading-normal-semibold-font-weight: 600;
  --text-3x-large-leading-normal-semibold-font-size: 30px;
  --text-3x-large-leading-normal-semibold-letter-spacing: 0px;
  --text-3x-large-leading-normal-semibold-line-height: 36px;
  --text-3x-large-leading-normal-semibold-font-style: normal;
  --text-3x-large-leading-normal-bold-font-family: "Inter", Helvetica;
  --text-3x-large-leading-normal-bold-font-weight: 700;
  --text-3x-large-leading-normal-bold-font-size: 30px;
  --text-3x-large-leading-normal-bold-letter-spacing: 0px;
  --text-3x-large-leading-normal-bold-line-height: 36px;
  --text-3x-large-leading-normal-bold-font-style: normal;
  --text-3x-large-leading-normal-italic-font-family: "Inter", Helvetica;
  --text-3x-large-leading-normal-italic-font-weight: 400;
  --text-3x-large-leading-normal-italic-font-size: 30px;
  --text-3x-large-leading-normal-italic-letter-spacing: 0px;
  --text-3x-large-leading-normal-italic-line-height: 36px;
  --text-3x-large-leading-normal-italic-font-style: italic;
  --text-3x-large-leading-normal-underlined-font-family: "Inter", Helvetica;
  --text-3x-large-leading-normal-underlined-font-weight: 400;
  --text-3x-large-leading-normal-underlined-font-size: 30px;
  --text-3x-large-leading-normal-underlined-letter-spacing: 0px;
  --text-3x-large-leading-normal-underlined-line-height: 36px;
  --text-3x-large-leading-normal-underlined-font-style: normal;
  --text-3x-large-leading-normal-strikethrough-font-family: "Inter", Helvetica;
  --text-3x-large-leading-normal-strikethrough-font-weight: 400;
  --text-3x-large-leading-normal-strikethrough-font-size: 30px;
  --text-3x-large-leading-normal-strikethrough-letter-spacing: 0px;
  --text-3x-large-leading-normal-strikethrough-line-height: 36px;
  --text-3x-large-leading-normal-strikethrough-font-style: normal;
  --text-3x-large-leading-none-regular-font-family: "Inter", Helvetica;
  --text-3x-large-leading-none-regular-font-weight: 400;
  --text-3x-large-leading-none-regular-font-size: 30px;
  --text-3x-large-leading-none-regular-letter-spacing: 0px;
  --text-3x-large-leading-none-regular-line-height: 100%;
  --text-3x-large-leading-none-regular-font-style: normal;
  --text-3x-large-leading-none-medium-font-family: "Inter", Helvetica;
  --text-3x-large-leading-none-medium-font-weight: 500;
  --text-3x-large-leading-none-medium-font-size: 30px;
  --text-3x-large-leading-none-medium-letter-spacing: 0px;
  --text-3x-large-leading-none-medium-line-height: 100%;
  --text-3x-large-leading-none-medium-font-style: normal;
  --text-3x-large-leading-none-semibold-font-family: "Inter", Helvetica;
  --text-3x-large-leading-none-semibold-font-weight: 600;
  --text-3x-large-leading-none-semibold-font-size: 30px;
  --text-3x-large-leading-none-semibold-letter-spacing: 0px;
  --text-3x-large-leading-none-semibold-line-height: 100%;
  --text-3x-large-leading-none-semibold-font-style: normal;
  --text-3x-large-leading-none-bold-font-family: "Inter", Helvetica;
  --text-3x-large-leading-none-bold-font-weight: 700;
  --text-3x-large-leading-none-bold-font-size: 30px;
  --text-3x-large-leading-none-bold-letter-spacing: 0px;
  --text-3x-large-leading-none-bold-line-height: 100%;
  --text-3x-large-leading-none-bold-font-style: normal;
  --text-3x-large-leading-none-italic-font-family: "Inter", Helvetica;
  --text-3x-large-leading-none-italic-font-weight: 400;
  --text-3x-large-leading-none-italic-font-size: 30px;
  --text-3x-large-leading-none-italic-letter-spacing: 0px;
  --text-3x-large-leading-none-italic-line-height: 100%;
  --text-3x-large-leading-none-italic-font-style: italic;
  --text-3x-large-leading-none-underlined-font-family: "Inter", Helvetica;
  --text-3x-large-leading-none-underlined-font-weight: 400;
  --text-3x-large-leading-none-underlined-font-size: 30px;
  --text-3x-large-leading-none-underlined-letter-spacing: 0px;
  --text-3x-large-leading-none-underlined-line-height: 100%;
  --text-3x-large-leading-none-underlined-font-style: normal;
  --text-3x-large-leading-none-strikethrough-font-family: "Inter", Helvetica;
  --text-3x-large-leading-none-strikethrough-font-weight: 400;
  --text-3x-large-leading-none-strikethrough-font-size: 30px;
  --text-3x-large-leading-none-strikethrough-letter-spacing: 0px;
  --text-3x-large-leading-none-strikethrough-line-height: 100%;
  --text-3x-large-leading-none-strikethrough-font-style: normal;
  --text-4x-large-leading-normal-regular-font-family: "Inter", Helvetica;
  --text-4x-large-leading-normal-regular-font-weight: 400;
  --text-4x-large-leading-normal-regular-font-size: 36px;
  --text-4x-large-leading-normal-regular-letter-spacing: 0px;
  --text-4x-large-leading-normal-regular-line-height: 40px;
  --text-4x-large-leading-normal-regular-font-style: normal;
  --text-4x-large-leading-normal-medium-font-family: "Inter", Helvetica;
  --text-4x-large-leading-normal-medium-font-weight: 500;
  --text-4x-large-leading-normal-medium-font-size: 36px;
  --text-4x-large-leading-normal-medium-letter-spacing: 0px;
  --text-4x-large-leading-normal-medium-line-height: 40px;
  --text-4x-large-leading-normal-medium-font-style: normal;
  --text-4x-large-leading-normal-semibold-font-family: "Inter", Helvetica;
  --text-4x-large-leading-normal-semibold-font-weight: 600;
  --text-4x-large-leading-normal-semibold-font-size: 36px;
  --text-4x-large-leading-normal-semibold-letter-spacing: 0px;
  --text-4x-large-leading-normal-semibold-line-height: 40px;
  --text-4x-large-leading-normal-semibold-font-style: normal;
  --text-4x-large-leading-normal-bold-font-family: "Inter", Helvetica;
  --text-4x-large-leading-normal-bold-font-weight: 700;
  --text-4x-large-leading-normal-bold-font-size: 36px;
  --text-4x-large-leading-normal-bold-letter-spacing: 0px;
  --text-4x-large-leading-normal-bold-line-height: 40px;
  --text-4x-large-leading-normal-bold-font-style: normal;
  --text-4x-large-leading-normal-italic-font-family: "Inter", Helvetica;
  --text-4x-large-leading-normal-italic-font-weight: 400;
  --text-4x-large-leading-normal-italic-font-size: 36px;
  --text-4x-large-leading-normal-italic-letter-spacing: 0px;
  --text-4x-large-leading-normal-italic-line-height: 40px;
  --text-4x-large-leading-normal-italic-font-style: italic;
  --text-4x-large-leading-normal-underlined-font-family: "Inter", Helvetica;
  --text-4x-large-leading-normal-underlined-font-weight: 400;
  --text-4x-large-leading-normal-underlined-font-size: 36px;
  --text-4x-large-leading-normal-underlined-letter-spacing: 0px;
  --text-4x-large-leading-normal-underlined-line-height: 40px;
  --text-4x-large-leading-normal-underlined-font-style: normal;
  --text-4x-large-leading-normal-strikethrough-font-family: "Inter", Helvetica;
  --text-4x-large-leading-normal-strikethrough-font-weight: 400;
  --text-4x-large-leading-normal-strikethrough-font-size: 36px;
  --text-4x-large-leading-normal-strikethrough-letter-spacing: 0px;
  --text-4x-large-leading-normal-strikethrough-line-height: 40px;
  --text-4x-large-leading-normal-strikethrough-font-style: normal;
  --text-4x-large-leading-none-regular-font-family: "Inter", Helvetica;
  --text-4x-large-leading-none-regular-font-weight: 400;
  --text-4x-large-leading-none-regular-font-size: 36px;
  --text-4x-large-leading-none-regular-letter-spacing: 0px;
  --text-4x-large-leading-none-regular-line-height: 100%;
  --text-4x-large-leading-none-regular-font-style: normal;
  --text-4x-large-leading-none-medium-font-family: "Inter", Helvetica;
  --text-4x-large-leading-none-medium-font-weight: 500;
  --text-4x-large-leading-none-medium-font-size: 36px;
  --text-4x-large-leading-none-medium-letter-spacing: 0px;
  --text-4x-large-leading-none-medium-line-height: 100%;
  --text-4x-large-leading-none-medium-font-style: normal;
  --text-4x-large-leading-none-semibold-font-family: "Inter", Helvetica;
  --text-4x-large-leading-none-semibold-font-weight: 600;
  --text-4x-large-leading-none-semibold-font-size: 36px;
  --text-4x-large-leading-none-semibold-letter-spacing: 0px;
  --text-4x-large-leading-none-semibold-line-height: 100%;
  --text-4x-large-leading-none-semibold-font-style: normal;
  --text-4x-large-leading-none-bold-font-family: "Inter", Helvetica;
  --text-4x-large-leading-none-bold-font-weight: 700;
  --text-4x-large-leading-none-bold-font-size: 36px;
  --text-4x-large-leading-none-bold-letter-spacing: 0px;
  --text-4x-large-leading-none-bold-line-height: 100%;
  --text-4x-large-leading-none-bold-font-style: normal;
  --text-4x-large-leading-none-italic-font-family: "Inter", Helvetica;
  --text-4x-large-leading-none-italic-font-weight: 400;
  --text-4x-large-leading-none-italic-font-size: 36px;
  --text-4x-large-leading-none-italic-letter-spacing: 0px;
  --text-4x-large-leading-none-italic-line-height: 100%;
  --text-4x-large-leading-none-italic-font-style: italic;
  --text-4x-large-leading-none-underlined-font-family: "Inter", Helvetica;
  --text-4x-large-leading-none-underlined-font-weight: 400;
  --text-4x-large-leading-none-underlined-font-size: 36px;
  --text-4x-large-leading-none-underlined-letter-spacing: 0px;
  --text-4x-large-leading-none-underlined-line-height: 100%;
  --text-4x-large-leading-none-underlined-font-style: normal;
  --text-4x-large-leading-none-strikethrough-font-family: "Inter", Helvetica;
  --text-4x-large-leading-none-strikethrough-font-weight: 400;
  --text-4x-large-leading-none-strikethrough-font-size: 36px;
  --text-4x-large-leading-none-strikethrough-letter-spacing: 0px;
  --text-4x-large-leading-none-strikethrough-line-height: 100%;
  --text-4x-large-leading-none-strikethrough-font-style: normal;
  --shadow-sm: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  --shadow-base: 0px 1px 2px 0px rgba(0, 0, 0, 0.06), 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
  --shadow-md: 0px 2px 4px -1px rgba(0, 0, 0, 0.06), 0px 4px 6px -1px rgba(0, 0, 0, 0.1);
  --shadow-lg: 0px 4px 6px -2px rgba(0, 0, 0, 0.05), 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  --shadow-xl: 0px 10px 10px -5px rgba(0, 0, 0, 0.04), 0px 20px 25px -5px rgba(0, 0, 0, 0.1);
  --shadow-2xl: 0px 25px 50px -12px rgba(0, 0, 0, 0.25);
}

